[Unit]
Description=Проверять площадки каждые 15 минут

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=30s
Persistent=true
Unit=torgi-watcher.service

[Install]
WantedBy=timers.target
